<!DOCTYPE html>
<html>
<head>
    <title> Tenshitter App </title>
</head>
<body>
<h2> Welcome to Tenshitter </h2>
<form action="/users" method="post">
    <b> Name: </b><br/>
    <input type="text" name="name" size="80"/>
    <br/><br/>
    <b> Email: </b><br/>
    <input type="text" name="email" size="80"/>
    <br/><br/>
    <b> Password: </b><br/>
    <input type="text" name="password" size="80"/>
    <br/><br/>
    <b> Username: </b><br/>
    <input type="text" name="username" size="80"/>
    <br/><br/>
    <input type="submit" name="send" value="Sign Up" />
    <br/><br/>
    Do you have an account? <a href="/login"> Sign in </a>
</form>
</body>
</html>